

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Raleway:wght@600;700&display=swap');
 

@import "/assets/css/bootstrap.min.css";
@import "/assets/css/bootstrap.rtl.min.css";
@import "/assets/css/fontawesome.min.css";
@import "/assets/css/nice-select.min.css";
@import "/assets/css/remixicon.css";
@import "/assets/css/slick.min.css";
@import "/assets/css/style.css";
@import "/assets/css/react-adjustment.css";