---
import Layout from '~/layouts/Layout.astro';
import HeaderConstruction from '~/components/widgets/HeaderConstruction.astro';
import FooterConstruction from '~/components/widgets/FooterConstruction.astro';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <HeaderConstruction />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <FooterConstruction />
  </slot>
</Layout>
